.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: rgb(200, 200, 200);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 20px;
  }
}

.nav__link__auth {
  color: rgb(200, 200, 200);
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .nav__link__auth {
    font-size: 16px;
  }
}

.nav__list > li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .nav__list > li:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__link__active {
  color: #fff;
}
